html {
	height: 100%;
}
body {
	background: #ccc;
	min-height: 100%;
	height: 1px;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
i,
u,
b,
a,
li,
td,
th,
input,
textarea,
button,
label {
    font-family: Century Gothic;
    
    color: #000;
}

p,
span,
i,
u,
b,
a,
li,
td,
input,
textarea,
button,
label {
	font-size: 14px;
}

label {
    font-weight: normal;
}

a:focus,
a:hover {
    color: unset;
}

a,
button {
    cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus {
    outline: 0;
    outline-offset: 0;
}

.auth-wrapper {
	width: 100%;
	height: 100%;
	background-color: #202333;
	padding: 40px 0 50px 0;
}

.auth-form {
	width: 300px;
	margin:0 auto;
	background-color: #fff;
	padding: 25px;
	border-radius: 20px;
}

.auth-form__title {
	text-align: center;
	display: block;
	font-size: 22px;
	margin-bottom: 15px;
}

.auth-form__caption {
	margin-bottom: 10px;
	display: block;
	font-size: 12px;
	opacity: 0.7;
}

.auth-form .alert-danger {
	border: 0;
	background-color: rgba(222, 35, 35, 0.3);
	color: #fff;
}

.alert-danger ul {
	padding-left: 10px;
	margin: 0;
}


.header {
	background-color: #13151e;
	padding: 8px 10px 8px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #424D5E;
	box-shadow: 0px 0 20px rgba(0,0,0,0.5);
	position: relative;
	z-index: 1;
}

.message {
	display: none;
	position: absolute;
	opacity: 1;
	top: 30px;
	left: 50%;
	z-index: 2;
	width: 300px;
	margin-left: -150px;
	padding: 10px;
	background-color: rgba(42, 156, 68, 0.5);
	border-radius: 10px;
	text-align: center;
	color: #fff;
}

.wrapper {
	height: 100%;
}
.main {
	min-height: 100%;
}
.logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width:200px;
	height: auto;
}

.logo span {
	margin: 0;
	font-size: 18px;
	font-family: CENTURY GOTHIC;
	color: #AFC4E8;
	opacity: 0.2;
}

.navigation {
	padding-right: 20px;
}

.navigation ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.navigation__link {
	margin-left:15px;
	display: block;
}

.navigation__link_help {
	border-radius: 15px;
	width: 30px;
	height: 30px;
	background: url('/images/help-icon.png') round;
	opacity: 0.6;
}
.navigation__link:hover {
	opacity: 1;
	box-shadow: 0 0 20px rgba(255,255,255,0.5);
}


.navigation__link_acount {
	border-radius: 25px;
	width: 50px;
	height: 50px;
	background: url('/images/user-icon.png') round;
	position: relative;

}
.aside-panel {
	padding: 20px 0 0 0;
	background-color: #13151e; 
	position: relative;
}

.aside-panel__control {
	display: none;
}

.modules-list {
	list-style-type: none;
	width: 100%;
	margin:0;
	padding: 0;
}

.modules-list__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}



.modules-list__item {
	width: 100%;
	border-bottom: 1px solid #424D5E;
	padding: 8px 10px 8px 20px;
}

.modules-list__item img {
	width: 20px;
	opacity: 0.5;
	height: auto;
}

.modules-list__item a {
	max-width: 100%;
	display: block;
	padding: 0 0 0 10px;
	color: #AFC4E8;
	opacity: 0.8;
}

.modules-list__item_selected img {
	opacity: 1;
}
.modules-list__item_selected a {
	font-weight: bold;
	opacity: 1;
}

.modules-list__item a:hover {
	text-decoration: none;
	text-shadow: #5dc8e5 0 0 10px;
}

.content {
	padding: 20px;
	background-color: #F5F9FC;

}

h1 {
	font-weight: bold;
}

.hidden {
	display: none;
}

.add-button {
	margin: 20px 0 10px 0;
}
.search {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.search-input {
	width: 400px;
	min-width: 200px;
	margin-right: 20px;
	padding: 10px 0 10px 0;
}
.search-select {
	padding: 10px 0 10px 0;
	margin: 0;
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.search-select label {
	min-width: 100px;
	margin:0;
}
.search-select select {
	min-width: 200px;
}

.records-table {
	margin-top: 0px;
	background-color: #fff;
	overflow-x: scroll;
	max-width: 100%;
	
}

.records-table tbody tr:hover {
	background-color: #EBEFF6;
}

.records-table tbody td,
.records-table thead th {
	border: 1px solid #ccc;
}

.records-table__row_empty {

}

.records-table__row_empty:hover {
	background-color: transparent !important;

}
.records-table__row_empty td {
	text-align: center;
}

.sort-button{
	cursor: pointer;
}
.sort-button::after {
	color: #000;
	content: '\25B2';
}

.sort-button_active-desc::after {
	color: #5383B5;
	content: '\25B2';
}

.sort-button_active-asc::after {
	color: #5383B5;
	content: '\25BC';
}


.delete-button,
.complete-button {
	cursor: pointer;
}

.delete-confirmation {
	display: none;
}

.assignment__input {
	display: none;
}

.assignment__input {
	display: none;
}

.object-form {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	max-width: 600px;
}

.object-show {
	border: 1px solid #ccc;
	max-width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	padding: 20px;
}

.module-button {
	background-color: #13151e;
	color: #fff;
	margin-top: 20px;
}
.module-button:hover {
	color: #fff;
}

.ui-state-active {
	background-color: #13151e !important; 
	border: 1px solid #000 !important;

}

.notification {
	padding: 15px;
	background: url('/images/notification.png') no-repeat;
	background-position: 20px 20px;
	background-size: 60px 60px;
}
.notification_old {
	background: url('/images/notification-old.png') no-repeat;
	background-position: 20px 20px;
	background-size: 60px 60px;
	opacity: 0.7;
}
.notification__date {
	width: 100%;
	padding-left: 80px;
	display: block;
}
.notification__title {
	width: 100%;
	margin-top: 5px;
	padding-left: 80px;
	display: block;
	font-size: 24px;
	font-weight: bold;
}
.notification__text {
	width: 100%;
	margin-top: 20px;
}

#fancybox-content {
	padding-top: 40px;
	width: 300px;
	display: none;
}
.confirmation {
	width: 200px;
	margin-top: 30px;
}

.confirmation__question {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 18px;
}

.confirmation__agree {
	display: block;
	min-width: 100px;
	margin: 20px auto 0 auto;
}

.acount-container {
	position: relative;
}

.acount-panel {
	display: none;
	position: absolute;
	width: 200px;
	background-color: #fff;
	border-radius: 15px;
	top: 60px;
	right: 0;
}

.acount-panel__title,
.acount-panel__link {
	margin:0;
	display: block;
	width: 100%;
	padding: 5px 15px 5px 15px;
}

.acount-panel__title {
	font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.pagination li {
	margin: 0 5px 0 5px;
}

.pagination__button {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	padding: 0 6px 0 6px;
	font-size: 12px;
}

.pagination__button_active {
	background-color: #13151e;
	color: #fff;
}



@media (min-width: 768px) {

	.auth-wrapper {
		background-color: #000;
		background-image: url('/images/auth-bg.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top center;
	}

	.auth-form {
		width: 350px;
		background-color: rgba(255,255,255,0.7);
		padding: 25px;
	}

	#fancybox-content {
		width: 500px;
	}
}

@media (min-width: 1170px) {
	#fancybox-content {
		width: 600px;
	}
}


